<%= form_tag("/locations", method: "get") do %>
<div class="input-group">
  <%= text_field_tag :spot,  nil, placeholder: 'Where to search from', class:"form-control"%> <br>
  <span class="input-group-btn">
    <%= submit_tag "Search", class: "btn btn-default" %>
  </span>
</div>
<% end %>
